@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer{
  display: flex;
}

.footer{
  background-color: #eee;
  border-bottom-left-radius: 10%;
}

.left-links{
  margin-right: auto;
}

.right-links{
  margin-left: auto;
}

.content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: grey;
}

ul{
  text-decoration: none;
  list-style: none;
  text-decoration: grey;
  gap: 16px;
  display: flex;
  margin: 1;
  padding: 1;
}